<div class="page-wrapper">
  <div class="container profile-layout">
    <div class="profile-card card">

      <div class="profile-hero">
        <div class="avatar avatar-xl">{{ getDisplayName().charAt(0).toUpperCase() }}</div>
        <div class="profile-info">
          <h1>{{ getDisplayName() }}</h1>
          <p class="profile-email">{{ form.email }}</p>

          <div class="badge-group">
            @if(form.isAdmin) {
            <span class="badge badge-admin">admin</span>
            } @else {
            <span class="badge badge-yam">{{ form.role }}</span>
            @if(form.isInstructor) {
            <span class="badge badge-instructor">instructor</span>
            }
            }
          </div>
        </div>
        <button class="btn-outline" (click)="editing.set(!editing())">
          {{ editing() ? 'Cancel' : '✎ Edit Profile' }}
        </button>
      </div>

      @if (!editing()) {
      <div class="bio-section">
        <h2>About</h2>
        <p>{{ form.bio }}</p>
      </div>
      }

      @else {
      <div class="edit-form">
        <div class="form-grid">
          <div class="form-group">
            <label>Email</label>
            <input type="email" [(ngModel)]="form.email" disabled class="input-disabled" />
          </div>
          <div class="form-group">
            <label>Nickname</label>
            <input type="text" [(ngModel)]="form.nickname" />
          </div>
          <div class="form-group">
            <label>First Name</label>
            <input type="text" [(ngModel)]="form.firstName" />
          </div>
          <div class="form-group">
            <label>Last Name</label>
            <input type="text" [(ngModel)]="form.lastName" />
          </div>
          <div class="form-group">
            <label>Birth Date</label>
            <input type="date" [(ngModel)]="form.birthDate" />
          </div>
        </div>

        <div class="form-group">
          <label>Bio</label>
          <textarea [(ngModel)]="form.bio" rows="3"></textarea>
        </div>

        <div class="form-group checkbox-group">
          <input type="checkbox" id="instructorCheck" [(ngModel)]="form.isInstructor" />
          <label for="instructorCheck">Register as an Instructor</label>
        </div>
        @if(!targetUserId()){
        <div class="password-confirm-box">
          <div class="form-group">
            <label class="label-highlight">Current Password to Confirm</label>
            <input type="password" [ngModel]="confirmPassword()" (ngModelChange)="confirmPassword.set($event)"
              placeholder="Enter password to save changes" />
          </div>
        </div>
        }

        <button class="btn-primary" (click)="save()" [disabled]="saving() || (!targetUserId()&&!confirmPassword())">
          {{ saving() ? 'Saving...' : 'Save Changes' }}
        </button>
      </div>
      }
    </div>
  </div>
</div>